# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.log

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Generated golden failures
**/failures/
